.input-group {
    margin: 20px 0;
}

.filtering-button {
    margin-right: 1em;
    margin-top: 0.5em;
}

.avatar {
    width: 200px;
    margin-right: 1em;
}

.avatar-detailed {
    width: 400px;
    margin-left: 1em;
}

.clickable {
    cursor: pointer;
}

.article {
    margin: 1em 1em 1em 1em;
}

.text-xs-large {
    font-size: x-large;
}

.table-1st-col-25 tr td:first-child {
    width: 25%;
}

.margin-bottom-1 {
    margin-bottom: 1em;
}

.margin-left-1 {
    margin-left: 1em;
}